#quiz_container {  }

#title span { display: none; }

#quiz_container a { color: #990000; }

#questions { width: 100%; margin-top: 0; }

#questions .mute { display: none; }

#questions ol { padding-top: 0; }

#questions p { margin-bottom: 0; }

#score_graph {
  
}

#progress_container { visibility: hidden; border: solid 1px #efefef; }

#progress_container, #progress { height: 10px; } 

#progress { background-color: #cb0; }

.finished { 
  height: 400px !important; 
  margin-left: 0 !important;
}
.cursor { 
  cursor: pointer;
  text-decoration: underline;
}


